<h1>Planning an event?</h1>

<%= link_to "Please Log/Sign in to start!", login_path %>


  <h2> Current Events! </h2>
  <%# <%= binding.pry %1> %>

  <% @events.each do |event| %>
    <div>
    <%= @users.find_by(event.user_id).name %>
    <%= link_to event.title, event_path(event) %>
    <%= event.date %>
    <%= event.time %>
    <%= event.location %>
    <%= event.description %>
  </div>
<% end %>

